
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #14b04b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; 
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background: #0056b3; 
}


main {
    padding: 20px;
    background: #ffffff;
}

h1, h2 {
    color: #333;
}


ul {
    margin-left: 20px;
}


footer {
    text-align: center;
    padding: 10px 0;
    background:  #14b04b;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}


@media (max-width: 768px) {
    nav ul li {
        display: block; 
        margin: 10px 0;
    }

    nav ul li a {
        width: 100%; 
        text-align: center;
        padding: 15px;
    }

    header {
        text-align: center;
    }

    main {
        padding: 15px;
    }
}
